CC_DATABASE_URL=
CC_PG_PASSWORD=
CC_COS_SECRET_ID=
CC_COS_SECRET_KEY=
CC_SMTP_PASS=
CC_GEMINI_API_KEYS=
SSO_DATABASE_URL=
SSO_PG_PASSWORD=
SSO_JWT_SECRET=
SSO_SMTP_PASS=
SSO_TURNSTILE_SECRET_KEY=
FORMAPPER_PG_PASSWORD=
SCOREXAM_DATABASE_URL=
SCOREXAM_GEMINI_API_KEY=
SCOREXAM_COS_SECRET_KEY=
SG_DATABASE_URL=
SG_PG_PASSWORD=
CAL_DATABASE_URL=
CAL_SMTP_PASSWORD=
